@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply dark:bg-[#000000] min-h-screen bg-slate-100 text-slate-800 dark:text-white font-mulish;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
